# ENVIRONMENT
ENV=dev

# ORDER SERVICE
ORDER_SERVICE_PORT=8000
ORDER_DB_URL=postgresql://postgres:postgres@postgres-order:5432/order_db

# DESIGN SERVICE
DESIGN_SERVICE_PORT=8001
DESIGN_DB_URL=postgresql://postgres:postgres@postgres-design:5432/design_db

# SYNC SERVICE
SYNC_SERVICE_PORT=8002
OFFICE_SERVER_URL=http://sync-service-office:8002

# MINIO
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_PREVIEWS=previews
MINIO_BUCKET_ORIGINALS=originals

# REDIS
REDIS_URL=redis://redis:6379

# JWT
JWT_SECRET=change_me_in_production
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=30
